body {
    display: flex;
    align-self: center;
    flex-direction: column;
    background-color: #262626;
    color: white;
    font-family: sans-serif;
}

.suggested-guess {
    margin-left: 0.5rem;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.switcher {
    display: flex;
    gap: 20px;
}

.switcher-btn {
    background-color: rgba(255, 255, 255, 0.019);
    border: 1px solid black;
    color: rgb(141, 141, 141);
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
}

.switcher-btn.active {
    color: white;
}

.switcher-btn:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.133);
}

.mode {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mode.hidden {
    display: none;
}

.guess-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback-box {
    display: grid;
    grid-template-rows: 40px 80px;
    column-gap: 2px;
    grid-template-columns: repeat(7, 80px);
    margin-top: 10px;
    margin-bottom: 10px;
}

.history, .history-header {
    display: grid;
    padding-right: 80px;
    column-gap: 2px;
    grid-template-columns: repeat(8, 80px);
    text-align: center;
}

.history div {
    height: 80px;
    background-color: red;   
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.history div.name {
    background-color: transparent;
    color: white;
    width: 100%;
    text-align: center;
}

.history div.class-0 {
    background-color: green;
}

.history div.class-2 {
    background-color: orange;
}

.history div.class-3::before {
    content: "after";
    width: 100%;
    text-align: center;
}

.history div.class-4::before {
    content: "before";
    width: 100%;
    text-align: center;
}

.feedback-box span {
    text-align: center;
}

.feedback-box button {
    border: none;
    outline: none;
    background-color: red;
    text-align: center;
    cursor: pointer;
}

.feedback-box button.class-0 {
    background-color: green;
}

.feedback-box button.class-2 {
    background-color: orange;
}

.feedback-box button.class-3::before {
    content: "before";
}

.feedback-box button.class-4::before {
    content: "after";
}

.guess-row {
    display: flex;
    align-items: center;
    gap: 5px;
}

.guess-row__button {
    background-color: transparent;
    border: 1px solid white;
    color: white;

    border-radius: 4px;
    padding: 2px;
    width: 25px;
    height: 25px;
}

.analyze-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.feedback-box button:hover {
    filter:brightness(80%);
}

select {
    margin-top: 5px;
    background-color: #262626;
    outline: none;
    padding: 5px;
    border-radius: 4px;
    color: white;
}

select:invalid {
    color: grey;
}

option {
    color: white;
}